<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:label="enginehost Godot 4.7.1"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".EngineHostGodotActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|uiMode"
            android:screenOrientation="fullUser"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.enginehost.plugin.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="dev.enginehost.plugin.engine" android:value="godot" />
            <meta-data android:name="dev.enginehost.plugin.pluginVersion" android:value="0.1.0" />
            <meta-data android:name="dev.enginehost.plugin.capabilities" android:resource="@raw/enginehost_capabilities" />
        </activity>
    </application>
</manifest>
